
source "drivers/video/msm/vidc/Kconfig"

config FB_MSM
	tristate
	depends on FB && ARCH_MSM
	select FB_CFB_FILLRECT
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	default y

config FB_MSM_LCDC
	bool "Support for integrated LCD controller in qsd8x50"
	depends on FB_MSM && MSM_MDP31
	default y

config FB_MSM_OVERLAY0_WRITEBACK
	depends on FB_MSM_OVERLAY
        bool "MDP overlay0 write back mode enable"
	---help---
	  Support for MDP4 OVERLAY0 write back mode

config FB_MSM_LCDC_MIPI_PANEL_AUTO_DETECT
	bool "LCDC + MIPI Panel Auto Detect"
	select FB_MSM_LCDC_AUTO_DETECT
	select FB_MSM_LCDC_SAMSUNG_WSVGA
	select FB_MSM_LCDC_AUO_WVGA
	select FB_MSM_LCDC_SAMSUNG_OLED_PT
	select FB_MSM_MIPI_TOSHIBA_VIDEO_WVGA_PT
	select FB_MSM_MIPI_TOSHIBA_VIDEO_WSVGA_PT
	select FB_MSM_MIPI_RENESAS_VIDEO_FWVGA_PT
	select FB_MSM_MIPI_RENESAS_CMD_FWVGA_PT
	select FB_MSM_MIPI_NOVATEK_VIDEO_QHD_PT
	select FB_MSM_MIPI_NOVATEK_CMD_QHD_PT
	select FB_MSM_MIPI_SIMULATOR_VIDEO
	---help---
	  Support for LCDC + MIPI panel auto detect

